<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <link rel="icon" href="cdn.pixabay.com/photo/2020/07/16/10/34/button-5410496_640.png">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Онлайн-презентации с вопросами</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:switch="${message}" class="container my-7">
                <div class="col-md-12">
                    <div th:case="null"></div>
                    <div th:case="*">
                        Вы не заполнили все поля
                    </div>
                </div>
            </div>

            <h1>Регистрация в онлайн-сервисе презентаций с вопросами</h1>
            <form th:action="@{/register}" th:object="${user}" method="post">

                <div class="form-group">
                    <label for="name" class="control-label">Имя</label>
                    <input id="name"
                           class="form-control"
                           name="name"/>
                </div>
                <div class="form-group">
                    <label for="lastName" class="control-label">Фамилия</label>
                    <input id="lastName"
                           class="form-control"
                           name="lastName"/>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input id="email"
                           class="form-control"
                           name="email"/>
                </div>
                <div class="form-group">
                    <label for="username" class="control-label">Логин</label>
                    <input id="username"
                           class="form-control"
                           name="username"/>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Пароль</label>
                    <input id="password"
                           class="form-control"
                           type="password"
                           name="password"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success control-label">Зарегистрироваться</button>
                    <span>Уже имеете аккаунт? <a href="/" th:href="@{/}">Вход в систему</a></span>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>